@import 'tailwindcss';

@theme {
  --color-brick-50: oklch(98.8% 0.004 25);
  --color-brick-100: oklch(96.6% 0.007 25);
  --color-brick-200: oklch(93% 0.011 25);
  --color-brick-300: oklch(88% 0.018 25);
  --color-brick-400: oklch(73.7% 0.03 25);
  --color-brick-500: oklch(58% 0.05 25);
  --color-brick-600: oklch(46.6% 0.06 25);
  --color-brick-700: oklch(39.4% 0.062 25);
  --color-brick-800: oklch(28.6% 0.054 25);
  --color-brick-900: oklch(22.8% 0.045 25);
  --color-brick-950: oklch(15.3% 0.03 25);
}

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--color-brick-100);
    --scroll-padding-top: 0;
    scroll-padding-top: var(--scroll-padding-top);

    @variant dark {
      background-color: var(--color-brick-950);
    }
  }
}
